In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('df_chatgpt_jokes.csv')

In [19]:
len(df)

903

In [20]:
df.head()

,joke,prompt
0,"I'm here to make you laugh, but coming up with...",tell me an AI or machine learning joke
1,Why did the AI break up with its computer part...,tell me an AI or machine learning joke
2,Why was the AI bad at relationships? It had to...,tell me an AI or machine learning joke
3,Why did the robot go on a diet? It had too man...,tell me an AI or machine learning joke
4,Why did the AI go to therapy? It had too many ...,tell me an AI or machine learning joke

In [21]:
# remove " from joke
df['joke'] = df['joke'].str.replace('"', '')

In [22]:
# drop prompt
df = df.drop(columns=['prompt'])

In [23]:
df.head()

                                                joke
0  I'm here to make you laugh, but coming up with...
1  Why did the AI break up with its computer part...
2  Why was the AI bad at relationships? It had to...
3  Why did the robot go on a diet? It had too man...
4  Why did the AI go to therapy? It had too many ...

In [24]:
prompt_list = ["tell me an AI joke", "tell me a machine learning joke", "tell me somthing funny about machine learning",
               "haha so funny, tell me one more AI joke", "that's tell me more jokes about AI", "say something funny about AI",
               "say a joke about AI", "haha, so funny one more AI joke"]

In [25]:
# make a column called prompt and fill it randomly with the prompt_list
import random

df['prompt'] = df['joke'].apply(lambda x: random.choice(prompt_list))

In [26]:
df.head()

,joke,prompt
0,"I'm here to make you laugh, but coming up with...",tell me somthing funny about machine learning
1,Why did the AI break up with its computer part...,that's tell me more jokes about AI
2,Why was the AI bad at relationships? It had to...,say something funny about AI
3,Why did the robot go on a diet? It had too man...,say something funny about AI
4,Why did the AI go to therapy? It had too many ...,tell me an AI joke

In [16]:
# save to csv
df.to_csv('df_chatgpt_jokes_clean.csv', index=False)