In [23]:
import pandas as pd

In [24]:
input_file = './chatgpt_jokes_cleaned.txt'
with open(input_file, 'r') as txt_file:
        lines = txt_file.readlines()

jokes = [line.strip() for line in lines]
data = {'joke': jokes}
df_chatgpt_jokes = pd.DataFrame(data)

In [60]:
df_chatgpt_jokes.head()
# print len
print(len(df_chatgpt_jokes))
# remove duplicates
df_chatgpt_jokes.drop_duplicates(subset=['joke'], inplace=True)
# print len
print(len(df_chatgpt_jokes))
# save
df_chatgpt_jokes.to_csv('./df_chatgpt_jokes.csv', index=False)

903
903

In [26]:
# len
len(df_chatgpt_jokes)

1161

In [27]:
# remove duplicates
df_chatgpt_jokes.drop_duplicates(inplace=True)
print(f"Number of jokes after removing duplicates: {len(df_chatgpt_jokes)}")

Number of jokes after removing duplicates: 903

In [28]:
# add a column 'prompt' with the value 'tell me an AI or machine learning joke'
df_chatgpt_jokes['prompt'] = 'tell me an AI or machine learning joke'

In [40]:
df_chatgpt_jokes.head()

# print the len oof the longest joke
print(f"Length of the longest joke: {df_chatgpt_jokes['joke'].str.len().max()}")

Length of the longest joke: 169

In [41]:
# read 'jokes.csv' into a dataframe
df_jokes = pd.read_csv('./jokes.csv')
# only jokes with length <= 200
df_jokes = df_jokes[df_jokes['joke'].str.len() <= 200]

In [42]:
#head
df_jokes.head()

                                                joke          prompt
1  What is the only thing a woman can say that wi...  tell me a joke
3  Why is gambling not allowed in Africa? Because...  tell me a joke
5  (Warning, this is worse than those laffy-taffy...  tell me a joke
6  Beware of alphabet grenades... Beware of alpha...  tell me a joke
9  What's big, gray and unimportant? An irrelephant.  tell me a joke

In [50]:
# shuflle df_jokes
df_jokes = df_jokes.sample(frac=1).reset_index(drop=True)
# get the first 2000 rows
df_jokes = df_jokes[:1000]

In [51]:
# merge  them together
df_merged = pd.concat([df_chatgpt_jokes, df_jokes], ignore_index=True)

In [52]:
df_merged.head()

,joke,prompt
0,"I'm here to make you laugh, but coming up with...",tell me an AI or machine learning joke
1,Why did the AI break up with its computer part...,tell me an AI or machine learning joke
2,Why was the AI bad at relationships? It had to...,tell me an AI or machine learning joke
3,Why did the robot go on a diet? It had too man...,tell me an AI or machine learning joke
4,Why did the AI go to therapy? It had too many ...,tell me an AI or machine learning joke

In [53]:
len(df_merged)

1903

In [54]:
# remove duplicates
df_merged.drop_duplicates(inplace=True)
len(df_merged)

1903

In [55]:
# shuffle the dataframe
df_merged = df_merged.sample(frac=1).reset_index(drop=True)

In [56]:
df_merged.head()

,joke,prompt
0,How do you turn a fox into a whale? Marry her.,tell me a joke
1,Why was the chatbot terrible at riddles? It ke...,tell me an AI or machine learning joke
2,Why did the computer apply for a job as a chef...,tell me an AI or machine learning joke
3,How does an AI become a travel guide? By learn...,tell me an AI or machine learning joke
4,Why did the bagging ensemble method join a puz...,tell me an AI or machine learning joke

In [57]:
#save to csv
df_merged.to_csv('./jokes_merged.csv', index=False)